:vars {
  --foreground: #dee4df;
  --background: #0f1512;
  --cursor: #dee4df;
  --primary: #88d6ba;
  --on-primary: #00382a;
  --secondary: #b2ccc1;
  --on-secondary: #1e352d;
  --tertiary: #a8cbe1;
  --on-tertiary: #0c3446;
  --surface: #0f1512;
  --surface-bright: #343b38;
  --error: #ffb4ab;
  --error-dim: #ff8678;
  --on-error: #690005;
  --error-container: #93000a;
  --outline: #89938e;
  --shadow: #000000;
  --red: #ffb595;
  --red-dim: #ff9162;
  --green: #95d5a7;
  --green-dim: #70c789;
  --yellow: #b8cf84;
  --yellow-dim: #a3c15f;
  --blue: #afc6ff;
  --blue-dim: #7ca2ff;
  --magenta: #e4b7f3;
  --magenta-dim: #d48bec;
  --cyan: #82d5c7;
  --cyan-dim: #5cc8b6;
  --white: #82d3e0;
}
